AI Compliance and Policy Violation Detection Agent (1).json
{
  "name": "AI Compliance and Policy Violation Detection Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4832,
        640
      ],
      "id": "3abfa1fd-1b8a-4f4f-8ee8-41a2ceea5a07",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "A2edAXVUpoVzFnf9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "company_policy",
              "value": "ORGANIZATION COMPLIANCE POLICY\n\n1. DATA PRIVACY & CONFIDENTIALITY\n- Never share customer personal information (names, emails, phone numbers, addresses) in public channels\n- Do not disclose internal financial data, revenue figures, or pricing strategies\n- Confidential project codenames must not be mentioned in external communications\n\n2. ADVERTISING & MARKETING STANDARDS\n- All product claims must be factually accurate and verifiable\n- Avoid superlatives like \"best\", \"guaranteed\", \"100% effective\" without supporting evidence\n- Disclosures required for sponsored content, affiliate links, and paid partnerships\n\n3. PROFESSIONAL COMMUNICATION\n- Maintain respectful, inclusive language - no discriminatory or offensive terms\n- Avoid aggressive sales tactics or pressure language\n- Do not make promises about delivery dates without confirmation from operations\n\n4. REGULATORY COMPLIANCE\n- Health/medical claims require FDA approval or disclaimer\n- Financial advice must include risk disclosures\n- GDPR/CCPA compliance: honor opt-out requests, provide data deletion options\n\n5. INTELLECTUAL PROPERTY\n- Do not use competitor trademarks or copyrighted material without permission\n- Respect third-party brand guidelines and licensing agreements",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "126e1ea8-29ae-42cf-a3de-9512b68e4fc0",
      "name": "Organization Policy Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4656,
        448
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "ace4be16-0b6d-41d3-a583-cda720862b56",
      "name": "Monitor Gmail",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        3888,
        416
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "yhb8W2yW6psKIhDx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Compliance & Policy Watchdog Agent. Analyze the following content (email text or document) against company policies.\n\nCONTENT TO ANALYZE:\n={{ $json.document_content }}\n\nSOURCE: {{ $json.document_name }}\nSENDER: {{ $json.sender }}\n\nCOMPANY POLICY:\n{{ $json.company_policy }}\n\nYOUR TASK:\n1. Identify if this is an email message or a document (contract, invoice, etc.)\n2. Analyze against company policy\n3. Return structured response with:\n   - document_type: Type identified\n   - compliance_status: \"compliant\" or \"violation\"\n   - violation_type: Type or \"None\"\n   - reason: Explanation\n   - suggested_fix: Corrections or \"No changes needed\"\n   - risk_level: \"low\", \"medium\", or \"high\"",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "980fa42d-ee03-495f-95bc-0971dc3da425",
      "name": "AI Document Compliance Analyzer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        4832,
        432
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"document_type\": \"contract\",\n\t\"compliance_status\": \"compliant\",\n\t\"violation_type\": \"None\",\n\t\"reason\": \"Document follows all policy guidelines\",\n\t\"suggested_fix\": \"No changes needed\",\n\t\"risk_level\": \"low\"\n}"
      },
      "id": "da058049-ce87-44cd-b3f5-948f0bb066a2",
      "name": "Document Analysis Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4976,
        624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.output.compliance_status }}",
              "rightValue": "violation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "93ac5e86-7525-43fc-a2d6-d96f3e96b66b",
      "name": "Check Document Compliance",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5136,
        416
      ]
    },
    {
      "parameters": {
        "sendTo": "muhammaduzairchd11@gmail.com",
        "subject": "=Compliance Violation Alert - {{ $('AI Document Compliance Analyzer').item.json.output.document_type }} - {{ $('AI Document Compliance Analyzer').item.json.output.violation_type }}",
        "message": "=<h2>🚨 Compliance Violation Detected</h2>\n\n<p><strong>Document Type:</strong> {{ $('AI Document Compliance Analyzer').item.json.output.document_type }}</p>\n<p><strong>Document Name:</strong> {{ $('Organization Policy Configuration').item.json.document_name }}</p>\n<p><strong>Violation Type:</strong> {{ $('AI Document Compliance Analyzer').item.json.output.violation_type }}</p>\n<p><strong>Risk Level:</strong> {{ $('AI Document Compliance Analyzer').item.json.output.risk_level }}</p>\n\n<p><strong>Reason:</strong> {{ $('AI Document Compliance Analyzer').item.json.output.reason }}</p>\n\n<p><strong>Source:</strong> {{ $('Organization Policy Configuration').item.json.source_platform }}</p>\n<p><strong>Timestamp:</strong> {{ $('Organization Policy Configuration').item.json.timestamp }}</p>\n\n<hr>\n\n<h3>Document Excerpt:</h3>\n<div style=\"background-color: #f5f5f5; padding: 15px; border-left: 4px solid #ff6b6b;\">\n{{ $('Organization Policy Configuration').item.json.document_content.substring(0, 500) }}...\n</div>\n\n<hr>\n\n<h3>Suggested Fix:</h3>\n<div style=\"background-color: #e8f5e9; padding: 15px; border-left: 4px solid #4caf50;\">\n{{ $('AI Document Compliance Analyzer').item.json.output.suggested_fix }}\n</div>\n\n<hr>\n\n<p style=\"color: #666; font-size: 12px;\">This alert was generated automatically by the AI Compliance & Policy Watchdog System.</p>",
        "options": {}
      },
      "id": "aad6a01f-b746-4f42-bbe9-a2c6668d812e",
      "name": "Send Document Violation Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5296,
        256
      ],
      "webhookId": "e1b3dd53-72a2-40b6-a18d-a44b70843b9d",
      "credentials": {
        "gmailOAuth2": {
          "id": "yhb8W2yW6psKIhDx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10fClSg-VFHquHvFipgvUXawB-rO7Xq6Ko3AwGwELjbA",
          "mode": "list",
          "cachedResultName": "ai compliance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10fClSg-VFHquHvFipgvUXawB-rO7Xq6Ko3AwGwELjbA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Reason": "={{ $json.output.reason }}",
            "Timestamp": "={{ $('Organization Policy Configuration').item.json.timestamp }}",
            "Document_type": "={{ $json.output.document_type }}",
            "Compliance_Status": "={{ $json.output.compliance_status }}",
            "Voilation_Type": "={{ $json.output.violation_type }}",
            "Suggested_Fix": "={{ $json.output.suggested_fix }}",
            "Risk_Level": "={{ $json.output.risk_level }}"
          },
          "matchingColumns": [
            "Compliance_Status"
          ],
          "schema": [
            {
              "id": "Document_type",
              "displayName": "Document_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Compliance_Status",
              "displayName": "Compliance_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Voilation_Type",
              "displayName": "Voilation_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Suggested_Fix",
              "displayName": "Suggested_Fix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Risk_Level",
              "displayName": "Risk_Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4dc6a4dd-6261-4842-ac00-74d57e3eb232",
      "name": "Store Document Violation",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5296,
        528
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8pf9scOi9x1I4q4U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "include": "selectedOtherFields",
        "fieldsToInclude": "id, threadId, subject, from, to, date, messageId",
        "options": {}
      },
      "id": "53bb8f35-3241-48e1-b172-d8f62840baa3",
      "name": "Split Attachments",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4096,
        432
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "document_content",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "document_name",
              "value": "={{ Object.keys($('Split Attachments').item.binary)[0] }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "document_type",
              "value": "attachment",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "source_platform",
              "value": "gmail",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "sender",
              "value": "={{ $('Monitor Gmail').item.json.from.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "445f1915-4bb7-4a23-9efb-b79267c06073",
      "name": "Prepare Attachment Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4480,
        448
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "id": "5d394d91-399a-490b-af0a-b4ab2d96e643",
      "name": "Extract Attachment Content",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        4272,
        432
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Document Compliance Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Organization Policy Configuration": {
      "main": [
        [
          {
            "node": "AI Document Compliance Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Analysis Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Document Compliance Analyzer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Document Compliance Analyzer": {
      "main": [
        [
          {
            "node": "Check Document Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Document Compliance": {
      "main": [
        [
          {
            "node": "Send Document Violation Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Document Violation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monitor Gmail": {
      "main": [
        [
          {
            "node": "Split Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Attachment Data": {
      "main": [
        [
          {
            "node": "Organization Policy Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Attachments": {
      "main": [
        [
          {
            "node": "Extract Attachment Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Attachment Content": {
      "main": [
        [
          {
            "node": "Prepare Attachment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ceace010-0bff-44ae-8b8f-439eccdd81d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d28f69da4c5c01d777ae3c4835b7c2ff0f5b01b80a7cfe20c36c077653ae66c5"
  },
  "id": "TNMWikfv3qY9DsFS",
  "tags": []
}